
body{
    text-align: center;
    color: aliceblue;
    margin-left: 0px;

    }

header{
        color: aliceblue;
        width: 99.4%;
        flex-direction: row;
        top: 0px;
        position: fixed;
    
       }    

nav{
    display: flex; 
    }

ul.navigationbar{
background-color: rgb(7, 5, 5);
height: 80px;
display: flex;
width: 100%;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
display: flex;


}

div.left-nav{
    width: 100%;
    justify-items: flex-start;
}
div.right-nav{
    width: 30%;
    justify-items: flex-end;
}

ul.second-bar{
    background-color: rgb(139, 40, 40);
    height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97.5%;
  margin-top: 0px;
  margin-bottom: 0px;
    }
    .bottom-list{
        display: block;
        width: 100px;
        padding-top: 20px;
        color: aliceblue;
    }


.welcome-section{
    background-color: rgb(105, 102, 102);
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding-top: 170px;
    padding-bottom:100px; 
    margin-right: 0px;
    padding-left: 270px;


}
#projects-section{
    background-color: rgb(46, 46, 161);
    padding-top:100px;
    margin-top: 0px;
    margin-right: 0px;
    padding-bottom: 100px;
    
}

.projects{
    display: flex;
    flex-direction: row;
   margin-left: 50px;
   margin-right: 50px;
justify-content: center;
}

   
.project-text{
    text-align: center;
    background-color: black;
   height: fit-content;
   width:400px;
   margin-top: 0px;
  

   
  
}

footer{
color: aliceblue;
background-color: rgb(146, 141, 141);
margin-top: 0px;
padding-top: 100px;
font-size: xx-large;

}
hr{
  display: block;
  border-color: brown;
}
#top-footer{
padding-top: 50px;
}

.bottom-footer{
    padding-top: 50px;
    height: 100px;

}
img{
    padding-top: 50px;
}
.para-heading{
    margin-left: 20px;
}


button{
        height:40px;
        background-color: rgb(65, 247, 65);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

input[type="text"]{
        width: 1080px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }



